@using Chat_Application.Help_Classes
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject ProtectedLocalStorage protectedStorage
@inject UserService userService

<PageTitle>Chat Application</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span >
                <label class="oi"> @GetUsername </label><a/>
            </span>
            <span>
                <button class="btn btn-primary" @onclick="LogOutSubmit">Log Out</button>
            </span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CheckUserLoggedIn();
        }
    }

    private string GetUsername = "";

    private async void CheckUserLoggedIn()
    {
        var user = await protectedStorage.GetAsync<string>("user");
        if ((user).Value == null)
        {
            NavManager.NavigateTo("/", false, false);

        }
        else
        {
            var userOut = user.Value;
            if (userOut.Contains("@"))
            {
                userOut = await userService.GetEmail(userOut);
            }

            GetUsername = userOut;
        }
        StateHasChanged();

    }



    private async void LogOutSubmit()
    {
        await protectedStorage.DeleteAsync("user");
        NavManager.NavigateTo("/", false ,false);
    }
    
}